{% extends "poll/base.html" %}

{% block title %}Confirm Deletion{% endblock %}

{% block main %}
    {% if request.user.is_authenticated and poll.user == request.user %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Confirm Deletion</h3>
                </div>
                <div class="panel-body">
                    <p>Are you sure you want to delete the poll "{{ poll.question }}"?</p>
                    <form method="POST" action="{% url 'delete_poll' poll.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="alert alert-danger">
                <strong>Error:</strong> You are not authorized to delete this poll.
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}


{% comment %} {% extends "poll/base.html" %}

{% block title %}Confirm Deletion{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Confirm Deletion</h3>
            </div>
            <div class="panel-body">
                <p>Are you sure you want to delete the poll "{{ poll.question }}"?</p>
                <form method="POST" action="{% url 'delete_poll' poll.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% endcomment %}


